.cart {
    margin: 3em auto;
    padding: 2em 10em;
    .btn {
        border-radius: 999px;
    }
    h2 {
        margin: 1em 0em;
    }
    h3 {
        font-size: 1.6em;
    }
    h4 {
        color: rgb(134, 134, 134);
        font-weight: 400;
    }
    .carritoVacio{
        margin: 13em;
        text-align: center;
    }
    .itemsDetail {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        div {
            display: flex;
            flex-direction: row;
            img {
                width: 10em;
            }
            .detail {
                display: flex;
                flex-direction: column;
            }
        }
        .clearAndTotal {
            display: flex;
            flex-direction: column;
            align-items: right;
            margin: 0.625em 0em;
            .total {
                color: #fff;
                padding: 0.25em 1em;
                background-color: $color-primario;
                border-radius: 999px;
                margin-top: 1em;
            }
        }
    }
}