footer {
    height: 8em;
    padding: 3em 0em; 
    background-color: $color-primario;

    .nombreTienda {
        display: flex;
        align-items: center;
        justify-content: center;
        p {
            color: #fff;
            margin: 0;
            padding: 0;
        }
    }

    .redes {
        display: flex;
        align-items: center;
        justify-content: center;
        i {
            color: #ffffff;
            width: 2em;
            border-radius: 3px;
            font-size: 1.8em;
            margin: 0px 1.25em;
            transition: all 0.3s ease;
            &:hover {
                opacity: 0.4;
            }
        }
    }
}