/* max-width: 1220px */
@media screen and (max-width: 1220px) {
    header {
        .menu {
            padding: 1rem;

            .logo {
                padding: 0.1rem 0.5rem;

                p {
                    font-size: 1.2rem;
                }
            }

            .buscador {
                input {
                    padding: 0.2rem 0.8rem;
                    width: 12rem;
                }

                i {
                    padding: 0.5rem;
                    margin-left: 4px;
                }
            }

            .enlaces {
                li {
                    margin: 0 0.8rem;
                }
            }
        }
    }
    .main {
        h2 {
            text-align: center;
            margin: 30px 0px;
        }
        .smartwatchesContainer {
            /* Detalle del Producto */
            .itemDetail {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                overflow: hidden;
                height: 23em;
    
                .imgProduct {
                    overflow: hidden;
                    margin-right: 2em;
                }
                .detail {
                    margin-left: 2em;
                    h3 {
                        font-weight: bold;
                    }
                }
            }
            /* Contador-AgregarCarrito del Producto */
            .addCart {
                margin-top: -9.62em;
                margin-right: -6.25em;
            }
    
            /* Detalle del Producto */
            .itemDetail {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                overflow: hidden;
                height: 23em;
    
                .imgProduct {
                    overflow: hidden;
                    img {
                        transition: all 0.3s ease;
                        &:hover {
                            transform: scale(1.2, 1.2);
                        }
                    }
                }
                h3 {
                    font-weight: bold;
                }
            }
        }
    }
    .cart {
        padding: 2em 6em;
        .btn {
            border-radius: 999px;
        }
        h2 {
            margin: 1em 0em;
        }
        h3 {
            font-size: 1.4em;
        }
        h4 {
            font-size: 1.2em;
        }
        .itemsDetail {
            div {
                img {
                    width: 8em;
                    height: 8em;
                }
            }
        }
    }
    .form {
        padding-left: 5em;
        input {
            margin-top: 0.5em;
            border-radius: 50px;
            padding: 0.4rem 0.8rem;
            width: 18rem;
        }
    }
}

/* max-width: 930px */
@media screen and (max-width: 930px) {
    header {
        .menu {
            padding: 0.4rem;

            .logo {
                padding: 0.1rem 0.5rem;

                p {
                    font-size: 1rem;
                }
            }

            .buscador {
                input {
                    padding: 0.1rem 0.8rem;
                    width: 10rem;
                }

                i {
                    padding: 0.5rem;
                    margin-left: 4px;
                }
            }

            .enlaces {
                li {
                    margin: 0 0.4rem;
                }
            }
        }
    }
    .main {
        .smartwatchesContainer {
            /* Contador-AgregarCarrito del Producto */
            .addCart {
                margin-top: -9.62em;
                margin-right: -9.25em;
            }
        }
    }
    .cart {
        padding: 2em 6em;
        .btn {
            border-radius: 999px;
        }
        h2 {
            margin: 1em 0em;
        }
        h3 {
            font-size: 1.4em;
        }
        h4 {
            font-size: 1.2em;
        }
        .carritoVacio{
            margin: 7em;
            text-align: center;
        }
        .itemsDetail {
            div {
                img {
                    width: 8em;
                    height: 8em;
                }
            }
        }
    }
    .form {
        padding-left: 6em;
        input {
            margin-top: 0.5em;
            border-radius: 50px;
            padding: 0.4rem 0.8rem;
            width: 12.5rem;
        }
    }
}

/* max-width: 790px */
@media screen and (max-width: 790px) {
    header {
        .menu {
            padding: 0.3rem;

            .logo {
                padding: 0.1rem 0.4rem;

                p {
                    font-size: 1.2rem !important;
                }
            }

            .buscador {
                input {
                    padding: 0 0.8rem;
                    width: 8rem;
                }

                i {
                    padding: 0.4rem;
                    margin-left: 4px;
                }
            }

            .enlaces {
                li {
                    margin: 0 0.35rem;
                    font-size: 0.875rem;
                }
            }

            .btn {
                padding: 0.1rem 0.4rem;
                font-size: 0.875rem;
            }

            .carritoContenedor {
                position: relative;
                transition: all 0.3s ease;
                cursor: pointer;

                .contador {
                    position: absolute;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 16px;
                    height: 16px;
                    border-radius: 50%;
                    background-color: green;
                    top: -4px;
                    right: -4px;

                    p {
                        font-size: 0.8em;
                        color: #fff;
                        margin: 0;
                        padding: 0;
                    }
                }

                .fa-shopping-bag {
                    color: #fff;
                    font-size: 1.8em;
                }

                &:hover {
                    transform: scale(1.1, 1.1);
                }
            }

            .carritoContenedor {
                .contador {
                    width: 14px;
                    height: 14px;

                    p {
                        font-size: 0.7em;
                    }

                    .fa-shopping-bag {
                        font-size: 1.5em;
                    }
                }
            }
        }
    }
}

/* max-width: 768px */
@media screen and (max-width: 790px) {
    .cart {
        text-align: center;
        padding: 0em 1em;
        .btn {
            border-radius: 999px;
        }
        h2 {
            margin: 1em 0em;
        }
        h3 {
            font-size: 1.2em;
        }
        h4 {
            font-size: 1.2em;
        }
        .itemsDetail {
            div {
                img {
                    width: 8em;
                    height: 8em;
                }
            }
        }
        .itemsDetail {
            display: flex;
            align-items: center;
            div {
                align-items: flex-start;
                img {
                    width: 10em;
                }
                .detail {
                    display: flex;
                    flex-direction: column;
                }
            }
            .clearAndTotal {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin: 0.625 0em;
            }
        }
    }
    .form {
        margin-top: 1em;
        padding: 0em;
        input {
            margin-top: 0.5em;
            border-radius: 50px;
            padding: 0.4rem 0.8rem;
            width: 18rem;
        }
    }
}

/* max-width: 700px */
@media screen and (max-width: 700px) {
    header {
        .menu {
            box-shadow: none;

            .buscador {
                display: none;
            }
        }

        .buscador-2 {
            display: flex;
            flex-direction: row;
            justify-content: center;
            background-color: $color-secundario;
            padding: 0.8rem;

            input {
                border-radius: 50px;
                outline: none;
                border: none;
                width: 18rem;
                padding: 0 0.8rem;
            }

            i {
                background-color: #fff;
                border-radius: 100%;
                transition: all 0.3s ease;
                cursor: pointer;
                padding: 0.4rem;
                margin-left: 4px;

                &:hover {
                    color: #fff;
                    background-color: $color-secundario;
                }
            }
        }
    }
    .main {
        .smartwatchesContainer {
            /* Items del inicio */
            .item {
                margin: 20px;
                width: 14em;
                height: 17em;
            }
        }
    }
    footer {
        height: 6em;
        padding: 2.4em 0em; 
    
        .nombreTienda {
            p {
                color: #fff;
                margin: 0;
                padding: 0;
                font-size: 0.8em;
            }
        }
    
        .redes {
            i {
                width: 2em;
                font-size: 1.6em;
                margin: 0px 0.8em;
            }
        }
    }
}

/* max-width: 500px */
@media screen and (max-width: 500px) {
    header {
        .menu {
            .logo {
                p {
                    font-size: 1rem !important;
                }
            }

            .carritoContenedor {
                .fa-shopping-bag {
                    color: #fff;
                    font-size: 1.6em;
                }
            }

            .btn {
                display: none !important;
            }
        }
    }
    footer {
        .nombreTienda {
            p {
                color: #fff;
                margin: 0;
                padding: 0;
                font-size: 0.7em;
            }
        }
        .redes {
            i {
                width: 2em;
                font-size: 1.4em;
                margin: 0px 0.1em;
            }
        }
    }
}