/* max-width: 1220px */
@media screen and (max-width: 1220px) {
    header {
        .menu {
            padding: 1rem;

            .logo {
                padding: 0.1rem 0.5rem;

                p {
                    font-size: 1.2rem;
                }
            }

            .buscador {
                input {
                    padding: 0.2rem 0.8rem;
                    width: 12rem;
                }

                i {
                    padding: 0.5rem;
                    margin-left: 4px;
                }
            }

            .enlaces {
                li {
                    margin: 0 0.8rem;
                }
            }
        }
    }
}

/* max-width: 930px */
@media screen and (max-width: 930px) {
    header {
        .menu {
            padding: 0.4rem;

            .logo {
                padding: 0.1rem 0.5rem;

                p {
                    font-size: 1rem;
                }
            }

            .buscador {
                input {
                    padding: 0.1rem 0.8rem;
                    width: 10rem;
                }

                i {
                    padding: 0.5rem;
                    margin-left: 4px;
                }
            }

            .enlaces {
                li {
                    margin: 0 0.4rem;
                }
            }
        }
    }
}

/* max-width: 790px */
@media screen and (max-width: 790px) {
    header {
        .menu {
            padding: 0.3rem;

            .logo {
                padding: 0.1rem 0.4rem;

                p {
                    font-size: 1.2rem !important;
                }
            }

            .buscador {
                input {
                    padding: 0 0.8rem;
                    width: 8rem;
                }

                i {
                    padding: 0.4rem;
                    margin-left: 4px;
                }
            }

            .enlaces {
                li {
                    margin: 0 0.35rem;
                    font-size: 0.875rem;
                }
            }

            .btn {
                padding: 0.1rem 0.4rem;
                font-size: 0.875rem;
            }

            .carrito-contenedor {
                position: relative;
                transition: all 0.3s ease;
                cursor: pointer;

                .contador {
                    position: absolute;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 16px;
                    height: 16px;
                    border-radius: 50%;
                    background-color: green;
                    top: -4px;
                    right: -4px;

                    p {
                        font-size: 0.8em;
                        color: #fff;
                        margin: 0;
                        padding: 0;
                    }
                }

                .fa-shopping-bag {
                    color: #fff;
                    font-size: 1.8em;
                }

                &:hover {
                    transform: scale(1.1, 1.1);
                }
            }

            .carrito-contenedor {
                .contador {
                    width: 14px;
                    height: 14px;

                    p {
                        font-size: 0.7em;
                    }

                    .fa-shopping-bag {
                        font-size: 1.5em;
                    }
                }
            }
        }
    }
}

/* max-width: 700px */
@media screen and (max-width: 700px) {
    header {
        .menu {
            box-shadow: none;

            .buscador {
                display: none;
            }
        }

        .buscador-2 {
            display: flex;
            flex-direction: row;
            justify-content: center;
            background-color: $color-secundario;
            padding: 0.8rem;

            input {
                border-radius: 50px;
                outline: none;
                border: none;
                width: 18rem;
                padding: 0 0.8rem;
            }

            i {
                background-color: #fff;
                border-radius: 100%;
                transition: all 0.3s ease;
                cursor: pointer;
                padding: 0.4rem;
                margin-left: 4px;

                &:hover {
                    color: #fff;
                    background-color: $color-secundario;
                }
            }
        }
    }
}

/* max-width: 500px */
@media screen and (max-width: 500px) {
    header {
        .menu {
            .logo {
                p {
                    font-size: 1rem !important;
                }
            }

            .carrito-contenedor {
                .fa-shopping-bag {
                    color: #fff;
                    font-size: 1.6em;
                }
            }

            .btn {
                display: none !important;
            }
        }
    }
}