$color-primario: #001b2e;
$color-secundario: #294c60;
$gris: #343434;

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body { 
    font-size: 16px;

    @import 'header';
    @import 'main';
    @import 'mediaqueries';
}